################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstSolution.slnx/copilot-chat/f44bd6dc/sessions/3e7dda72-885c-46d1-95c8-04471c8afef9
